.cronometro-container{
    width: 90%;
    margin: auto;
    font-size: 40px;
}
.cronometro-buttonActivado{
    background-color: #387EF5;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    color: #fff;
    font-size: 20px;
}
.cronometro-buttonDesactivado{
    background-color: transparent;
    border: 1px solid #387EF5;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    color: #7c7272;
    font-size: 20px;
}
.cronometro-lista{
    list-style: none;
    padding-left: 0;
    font-size: 30px;
}